:root
{
    --bgcolour: #DBD4D4;
    --secondarybgcolour: #2B7A78;
    --borderradius: 15px;
    --textcolour: #5A4F4F;
    --hovercolour: #B3D822;
}

body
{
  background-color: var(--bgcolour);
}


.nav-link
{
  color: var(--textcolour);
}
.nav-link:hover
{
  color: var(--hovercolour);
}
