#header
{
  text-decoration: underline;
  font-weight: bold;
}

#descriptionParagraph
{
  margin-bottom: 3%;
}

input
{
  float: right;
}

select
{
  float: right;
}

.inputBox
{
  margin-bottom: 10px;
}

#error
{
  color: red;
  font-size: 15px;
  font-weight: bold;
}

form
{
  margin-bottom: 5%;
}
