{% extends 'CWBDataApp/base.html'%}

{% block title %} {{'Add Board Profile'}} {% endblock title %}

{% block css %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'CWBDataApp/body.css'%}">
{% endblock %}

{% block content %}
  <div>
    <h2 id="header"> Add/Remove Board Profile</h2>
    <p id="descriptionParagraph">
        Add a board profile to be added to the dropdown in Material Testing and Product Inventory, or remove an outdated profile
    </p>
  </div>

  <div class="justify-content-center row no-gutters">
    <form action="{% url 'CWBDataApp:AddBoardProfile'%}" method="post">
      <div class="d-inline-flex flex-column">
        <h4 id=header>Add/Remove a Board Profile</h4>
        {% csrf_token %}

        <div class="inline-flex inputBox">
          <label for="profile">Board Profile*: </label>
          <input id="profile" type="text" name="profile" maxlength="40">
        </div>

        <br>
        <div class="justify-content-center row">
          <input type="submit" name="enterNewProfile" value="Enter">
          <input type="submit" name="removeProfile" formaction="{% url 'CWBDataApp:RemoveBoardProfile'%}" value="Remove">
        </div>
      </div>
    </form>
  </div>

{% endblock content %}
