{% extends 'CWBDataApp/base.html'%}

{% block title %} {{'Add Colour'}} {% endblock title %}

{% block css %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'CWBDataApp/body.css'%}">
{% endblock %}

{% block content %}
  <div>
    <h2 id="header"> Add Colour </h2>
    <p id="descriptionParagraph">
        Add a new colour to be added to the dropdown in batch cost tracking and product inventory
    </p>

  {% if error_message %} <p id="error"> {{error_message}} </p> {% endif %}
  {% if dataAcceptedMessage %} <p id="accepted"> {{dataAcceptedMessage}} </p> {% endif %}

  </div>

{% endblock content %}
