{% extends 'CWBDataApp/base.html'%}

{% block title %} {{'Add Employee'}} {% endblock title %}

{% block css %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'CWBDataApp/body.css'%}">
{% endblock %}

{% block content %}
  <div>
    <h2 id="header"> Add Employee </h2>
    <p id="descriptionParagraph">
        Add a new employee to be added to the dropdown in material testing
    </p>
  </div>

  <div class="justify-content-center row no-gutters">
    <form action="{% url 'CWBDataApp:AddEmployee'%}" method="post">
      <div class="d-inline-flex flex-column">
        <h4 id=header>Add an Employee</h4>
        {% csrf_token %}

        <div class="inline-flex inputBox">
          <label for="employeeName">Employees Name*: </label>
          <input id="employeeName" type="text" name="employeeName" maxlength="40">
        </div>


        <br>
        <div class="justify-content-center row">
          <div class="col"><input type="submit" name="enterNewProfile" value="Add"></div>
        </div>
      </div>
    </form>
  </div>


    <div class="justify-content-center row no-gutters">
      <form action="{% url 'CWBDataApp:RemoveEmployee'%}" method="post">
        <div class="d-inline-flex flex-column">
          <h4 id=header>Remove an Employee</h4>
          {% csrf_token %}

          <div class="inline-flex inputBox">
            <label for="employeeName">Employees: </label>
            <select id="employeeName" type="text" name="employeeName">
              {% if allEmployees %}
                {% for employee in allEmployees %}
                    <option value="{{ employee.employeename }}">{{employee.employeename}}</option>
                {% endfor %}
              {% endif %}
            </select>
          </div>


          <br>
          <div class="justify-content-center row">
            <div class="col"><input type="submit" name="removeProfile"  value="Remove"></div>
          </div>
        </div>
      </form>
    </div>

{% endblock content %}
