{% extends 'CWBDataApp/base.html'%}

{% block title %} {{'Add Profile Average'}} {% endblock title %}

{% block css %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'CWBDataApp/body.css'%}">
{% endblock %}

{% block content %}
  <div>
    <h2 id="header"> Add Profile Average </h2>
    <p id="descriptionParagraph">
        Add the average skids per day for a certain profile run
    </p>
  </div>

  <div class="justify-content-center row no-gutters">
    <form action="{% url 'CWBDataApp:AddProfileAverage'%}" method="post">
      <div class="d-inline-flex flex-column">
        <h4 id=header>Add an Average</h4>
        {% csrf_token %}

        <div class="inline-flex inputBox">
          <label for="profile">Profile*: </label>
          <input id="profile" type="text" name="profile" maxlength="40">
        </div>

        <div class="inline-flex inputBox">
          <label for="average">Average Skids per day: </label>
          <input id="average" type="number" name="average" value="0" step="any" min="0">
        </div>

        <br>

          <input type="submit" name="enterNewAverage" value="Add">
      </div>
    </form>
  </div>

{% endblock content %}
