<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8"/>
      <title>
        {% block title %}
          {{ page_title|default:"Untitled page" }}
        {% endblock title %}
      </title>

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'CWBDataApp/base.css'%}">
      {% block css %}
      {% endblock css %}
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  </head>

  <body class="d-flex flex-column">

    <main class="flex-fill">

      <!-- Menu bar on top of the page-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
          {% load static %}
          <img  id="cwbimg" src="{% static 'CWBDataApp/images/cwbtech.jpg'%}" alt="cwbtech">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'CWBDataApp:index' %}">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkBatch" role="button" data-toggle="dropdown" aria-haspopup="true "aria-expanded="false">
                  Batch Cost & Testing
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkBatch">
                  <a class="dropdown-item" href="{% url 'CWBDataApp:BatchCost'%}"> Enter Batch </a>
                  <a class="dropdown-item" href="{% url 'CWBDataApp:BatchCostQuery'%}"> Search Batch </a>
                  <a class="dropdown-item" href="{% url 'CWBDataApp:MaterialTest'%}"> Enter a Material Test </a>
                  <a class="dropdown-item" href="{% url 'CWBDataApp:MaterialTestQuery'%}"> Search for a Test </a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkProduct" role="button" data-toggle="dropdown" aria-haspopup="true "aria-expanded="false">
                  Product Inventory
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkProduct">
                  <a class="dropdown-item" href="{% url 'CWBDataApp:ProductInventory'%}"> Enter a Product</a>
                  <a class="dropdown-item" href="{% url 'CWBDataApp:ProductInventoryUpdate'%}"> Update Product</a>
                  <a class="dropdown-item" href="{% url 'CWBDataApp:ProductInventoryQuery'%}"> Search for Product</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkMaterialInventory" role="button" data-toggle="dropdown" aria-haspopup="true "aria-expanded="false">
                  Material Inventory
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkMaterialInventory">
                  <a class="dropdown-item" href="{% url 'CWBDataApp:MaterialInventory'%}"> Enter Material</a>
                  <a class="dropdown-item" href="{% url 'CWBDataApp:MaterialInventoryQuery'%}"> Search for Material</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true "aria-expanded="false">
                  Order Sheets
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'CWBDataApp:OrderSheetsMachine1'%}"> Machine 1 </a>
                  <a class="dropdown-item" href="{% url 'CWBDataApp:OrderSheetsMachine2'%}"> Machine 2 </a>
                  <a class="dropdown-item" href="{% url 'CWBDataApp:OrderSheetsMachine3'%}"> Machine 3 </a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'CWBDataApp:help'%}">Pic&Sum</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'CWBDataApp:help'%}">Forms</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkHelp" role="button" data-toggle="dropdown" aria-haspopup="true "aria-expanded="false">
                  Help
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkHelp">
                  <a class="dropdown-item" href="{% url 'CWBDataApp:help'%}"> General Help</a>
                  <a class="dropdown-item" href="{% url 'CWBDataApp:AddEmployee'%}"> Add Employee</a>
                  <a class="dropdown-item" href="{% url 'CWBDataApp:AddBoardProfile'%}"> Add Board Profile</a>
                  <a class="dropdown-item" href="{% url 'CWBDataApp:AddColour'%}"> Add Colour</a>
                  <a class="dropdown-item" href="{% url 'CWBDataApp:AddSupplier'%}"> Add Supplier</a>
                  <a class="dropdown-item" href="{% url 'CWBDataApp:UpdateSupplier'%}"> Update Supplier</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index'%}">Admin</a>
              </li>
          </ul>
        </div>
      </nav>

      {% block content %}
      {% endblock content%}

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script> window.jQuery || document.write('<script src="jquery-3.3.1.js"><\/script>') </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</html>
