{% extends 'CWBDataApp/base.html'%}

{% block title %} {{'Batch Cost Tracking'}} {% endblock title %}

{% block css %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'CWBDataApp/body.css'%}">
{% endblock %}

{% block content %}

<div class="">
  <h2 id="header"> Batch Cost Tracking Query </h2>
  <p id="descriptionParagraph">
    Here you can query a previous batch to get its details. Enter the batch name and hit submit.
  </p>
  <p id="descriptionParagraph">If you want to enter batch data click <a href="{% url 'CWBDataApp:BatchCost'%}">HERE</a></p>
</div>

<div class="justify-content-center row no-gutters">
  <form action="{% url 'CWBDataApp:BatchCostQuery'%}" method="post">
    <div class="d-inline-flex flex-column">
      <h4 id=header>Search for a Batch</h4>
      {% csrf_token %}
      <div class="inline-flex inputBox">
        <label for="searchbatch">Batch Name*: </label>
        <input id="searchBatch" type="text" name="searchBatch" maxlength="15">
      </div>

      <input type="submit" name="enterNewBatch" value="Submit">
    </div>
  </form>
</div>

<div class="justify-content-center row no-gutters">
  <form action="{% url 'CWBDataApp:BatchCostExcel'%}" method="post">
    <div class="d-inline-flex flex-column">
      {% csrf_token %}
      <input type="submit" name="Download" value="Download Excel File of All Batches">
    </div>
  </form>
</div>

{% if batch %}
<div class="queryTable">
  <div class="tablecontainer">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Batch Name</th>
          <th>Batch Date</th>
          <th>Profile</th>
          <th>Total Cost</th>
          <th>Total Weight</th>
          <th>Price/Pound</th>
          {% for i in range %}
            <th>Material_{{i}}</th>
            <th>Weight_{{i}}</th>
            <th>Cost</th>
          {% endfor %}
          <th>Colour</th>
          <th>Colour Weight</th>
          <th>Colour Cost</th>
          <th>Foam Weight</th>
          <th>Foam Cost</th>
          <th>Total Shred Weight</th>
        </tr>
      </thead>
      <tr>
        <td>{{ batch.batchname }}</td>
        <td>{{ batch.batchdate }}</td>
        <td>{{ batch.profile }}</td>
        <td>{{ batch.totalcost }}</td>
        <td>{{ batch.totalweight }}</td>
        <td>{{ batch.priceperpound }}</td>
        {% for k in dict %}
          <td>{{ v }}</td>
        {% endfor %}
        <td>{{ batch.colour }}</td>
        <td>{{ batch.colourweight }}</td>
        <td>{{ batch.colourvalue }}</td>
        <td>{{ batch.foamweight }}</td>
        <td>{{ batch.foamvalue }}</td>
        <td>{{ batch.totalshredweight}}</td>
      </tr>
    </table>
  </div>
</div>
{% endif %}

{% endblock content %}
