<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8"/>
      <title> Batch Cost Tracking </title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  </head>

  <body class="d-flex flex-column">

    <main class="flex-fill">

      <!-- Menu bar on top of the page-->
      <nav class="navbar center navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-trigger="#mainNav">
          <img src="pics/toggle.png" alt="toggle" class="toggle-button">
        </button>

        <div class="navbar-collapse justify-content-center" id="mainNav">
          <div class="offcanvas-header mt-3">
            <button class="btn btn-outline-danger btn-close close-toggle"> &times Close </button>
          </div>
          <ul class="nav justify-content-center" id="navText">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="projects.html">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li>
          </ul>
        </div>
      </nav>

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script> window.jQuery || document.write('<script src="jquery-3.3.1.js"><\/script>') </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</html>
