{% extends 'CWBDataApp/base.html'%}

{% block title %} {{'Material Inventory Query'}} {% endblock title %}

{% block css %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'CWBDataApp/body.css'%}">
{% endblock %}


{% block content %}
  <div>
    <h2 id="header"> Material Inventory Search </h2>
    <p id="descriptionParagraph">
        Material inventory search is used to find raw materials, premixes, batches, and shred in the warehouse. Currently the location value
        isn't being used but in the future will be used to locate boxes within the shop.
    </p>
    <p id="descriptionParagraph">If you want to enter material inventory data click <a href="{% url 'CWBDataApp:MaterialInventory'%}">HERE</a> if you want to update a material entry click <a href="{% url 'CWBDataApp:MaterialInventoryUpdate'%}">HERE</a></p>
  </div>

  <div class="justify-content-center row no-gutters">
    <form action="{% url 'CWBDataApp:MaterialInventoryQuery'%}" method="post">
      <div class="d-inline-flex flex-column">
        <h4 id=header>Search for Material Inventory </h4>
        {% csrf_token %}

        <div class="inline-flex inputBox">
          <label for="matName">Material Name*: </label>
          <input id="matName" type="text" name="matName" maxlength="30">
        </div>

        <br>
        <input type="submit" name="enterNewBatch" value="Submit">
      </div>
    </form>
  </div>

  {% if all_materials %}
  <div class="queryTable justify-content-center row no-gutters">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Material</th>
          <th>Supplier</th>
          <th>Number of Boxes</th>
          <th>Locations</th>
          <th>Premixed</th>
          <th>Price/Pound</th>
        </tr>
      </thead>
      {% for material in all_materials %}
      <tr>
        <td>{{ material.materialname }}</td>
        <td>{{ material.supplier.supplier }}</td>
        <td>{{ material.numberofboxes }}</td>
        <td>{{ material.locations }}</td>
        <td>{{ material.premixed }}</td>
        <td>{{ material.priceperpound }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}
{% endblock content %}
