{% extends 'CWBDataApp/base.html'%}

{% block title %} {{'Material Testing Query'}} {% endblock title %}

{% block css %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'CWBDataApp/body.css'%}">
{% endblock %}

{% block content %}

  <div>
    <h2 id="header"> Material Testing Query </h2>
    <p id="descriptionParagraph">
      Retrieve data from a test based on the batch name
    </p>
    <p id="descriptionParagraph">If you want to enter material testing data click <a href="{% url 'CWBDataApp:MaterialTest'%}">HERE</a></p>
  </div>

<div class="justify-content-center row no-gutters">
  <form action="{% url 'CWBDataApp:MaterialTestQuery'%}" method="post">
    <div class="d-inline-flex flex-column">
      <h4 id=header>Search for a Test </h4>
      {% csrf_token %}
      <div class="inline-flex inputBox">
        <label for="testName">Batch Name*: </label>
        <input id="testName" type="text" name="testName" maxlength="15">
      </div>
      <br>
      <input type="submit" name="enterNewBatch" value="Search">
    </div>
  </form>
</div>

<div class="justify-content-center row no-gutters">
  <form action="{% url 'CWBDataApp:MaterialTestExcel'%}" method="post">
    <div class="d-inline-flex flex-column">
      {% csrf_token %}
      <input type="submit" name="Download" value="Download Excel File of All Material Tests">
    </div>
  </form>
</div>

{% if allTests %}
<div class="queryTable">
  <div class="tablecontainer">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Project Number</th>
          <th>Test Name</th>
          <th>Test Number</th>
          <th>Test Date</th>
          <th>Labour Used</th>
          <th>Machine Time Used</th>
          <th>Production Line</th>
          <th>Materials Tested</th>
          <th>Other Materials Tested</th>
          <th>Moulds</th>
          <th>Reason For Test</th>
          <th>Expected Results</th>
          <th>Difficulties Encountered</th>
          <th>Next Step</th>
          <th>Estimated Cost of Material</th>
          <th>Estimated Cost of Labour</th>
          <th>Total Cost of Test</th>
        </tr>
      </thead>
      {% for test in allTests %}
        <tr>
          <td>{{ test.projectnumber }}</td>
          <td>{{ testName }}</td>
          <td>{{ test.testnumber }}</td>
          <td>{{ test.testdate }}</td>
          <td>{{ test.labourused }}</td>
          <td>{{ test.machinetimeused }}</td>
          <td>{{ test.productionline }}</td>
          <td>{{ test.materialstested }}</td>
          <td>{{ test.othermaterialstested }}</td>
          <td>{{ test.moulds }}</td>
          <td>{{ test.reasonfortest }}</td>
          <td>{{ test.expectedresults }}</td>
          <td>{{ test.difficultiesencountered }}</td>
          <td>{{ test.nextstep }}</td>
          <td>{{ test.estimatedcostofmaterial }}</td>
          <td>{{ test.estimatedcostoflabour }}</td>
          <td>{{ test.totalcostoftest }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endif %}

{% endblock content %}
