{% extends 'CWBDataApp/base.html'%}

{% block title %} {{'Material Inventory Update'}} {% endblock title %}

{% block css %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'CWBDataApp/body.css'%}">
{% endblock %}

{% block content %}
  <div>
    <h2 id="header"> Material Inventory Update</h2>
    <p id="descriptionParagraph">
        Update a Materials price, location or number of boxes
    </p>
    <p id="descriptionParagraph">If you want to enter material click <a href="{% url 'CWBDataApp:MaterialInventory'%}">HERE</a> pull material inventory data click <a href="{% url 'CWBDataApp:MaterialInventoryQuery'%}">HERE</a></p>
  </div>

  <div class="justify-content-center row no-gutters">
    <form action="{% url 'CWBDataApp:MaterialInventoryUpdate'%}" method="post">
      <div class="d-inline-flex flex-column">
        <h4 id=header>Update Material Inventory </h4>
        {% csrf_token %}

        <div class="inline-flex inputBox">
          <label for="matName2">Choose a Material: </label>
          <select id="matName2" type="text" name="matName2">
            <option value="None">None</option>
            {% if allMaterials %}
              {% for entry in allMaterials %}
                  <option value="{{ entry.materialname }}">{{entry.materialname}} (${{ entry.priceperpound }}, {{entry.numberofboxes}} boxes)</option>
              {% endfor %}
            {% endif %}
          </select>
        </div>

        <div class="inline-flex inputBox">
          <label for="matName">or Enter Name Here: </label>
          <input id="matName" type="text" name="matName" maxlength="30">
        </div>

        <br>
        <input type="submit" name="enterNewBatch" value="Search">
      </div>
    </form>
  </div>

  {% if Forms %}
  <div class="justify-content-center row no-gutters">
    <form action="{% url 'CWBDataApp:MaterialInventoryUpdateNumSkids'%}" method="post">
      <div class="d-inline-flex flex-column">
        {% csrf_token %}

        <h3> Update Data for {{Material.materialname}}</h3>

        <div class="inline-flex inputBox">
          <label for="numBoxes">Number of Boxes: </label>
          <input id="numBoxes" type="number" name="numBoxes" min="0" step="0.5" value="{{ Material.numberofboxes }}">
        </div>

        <div class="inline-flex inputBox">
          <label for="location">Location: </label>
          <input id="location" type="text" name="location" maxlength="20" value="{{ Material.locations }}">
        </div>

        <div class="inline-flex inputBox">
          <label for="price">Price per Pound: </label>
          <input id="price" type="number" name="price" step="any" value="{{ Material.priceperpound }}">
        </div>

        <input id="matName" type="text" name="matName" value="{{ Material.materialname }}" hidden>

        <br>
        <input type="submit" name="updateNumberofBoxes" value="Update">
      </div>
    </form>
  </div>
  {% endif %}

{% endblock content %}
