{% extends 'CWBDataApp/base.html'%}

{% block title %} {{'Material Testing Query'}} {% endblock title %}

{% block css %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'CWBDataApp/body.css'%}">
{% endblock %}

{% block content %}

  <div>
    <h2 id="header"> Material Testing Query </h2>
    <p id="descriptionParagraph">
      Retrieve data from a test based on the batch name
    </p>
    <p id="descriptionParagraph">If you want to enter material testing data click <a href="{% url 'CWBDataApp:MaterialTest'%}">HERE</a></p>

  {% if error_message %} <p id="error"> {{error_message}} </p> {% endif %}

</div>

{% endblock content %}
