{% extends 'CWBDataApp/base.html'%}

{% block title %} {{'View Product Inventory'}} {% endblock title %}

{% block css %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'CWBDataApp/body.css'%}">
{% endblock %}

{% block content %}
<div>
  <h2 id="header"> View Product Inventory </h2>
  <p id="descriptionParagraph">
      View Product Inventory is to be used to view data of the finshed product  in the shop. You can either
      pull a single products data or download an excel file of all Product. Use the drop down to select a product
      that is currently in the shop. If a product does not appear in the dropdown then it does not exist in inventory and you\
      can add it using 'Enter a Product' tab.
  </p>
  <p id="descriptionParagraph">If you want to enter product inventory data click <a href="{% url 'CWBDataApp:ProductInventory'%}">ENTER</a> or update inventory click <a href="{% url 'CWBDataApp:ProductInventoryUpdate'%}">UPDATE</a></p>
</div>

<div class="justify-content-center row no-gutters">
  <form action="{% url 'CWBDataApp:ProductInventoryQuery'%}" method="post">
    <div class="d-inline-flex flex-column">
      <h4 id=header>Search for Product </h4>
      {% csrf_token %}
      <div class="inline-flex inputBox">
        <label for="prodId">Product*: </label>
        <select id="prodId" type="text" name="prodId">
          {% if allProduct %}
            {% for product in allProduct %}
                <option value="{{ product.id }}">{{product.colour}} {{ product.productname }}</option>
            {% endfor %}
          {% endif %}
        </select>
      </div>

      <input type="submit" name="enterNewProduct" value="Find">
    </div>
  </form>
</div>

<div class="justify-content-center row no-gutters">
  <form action="{% url 'CWBDataApp:ProductInventoryExcel'%}" method="post">
    <div class="d-inline-flex flex-column">
      {% csrf_token %}
      <input class="submitButton" type="submit" name="Download" value="Download Excel File of Entire Product Inventory">
    </div>
  </form>

  <form action="{% url 'CWBDataApp:ProductInventoryPdf'%}" target="_blank" method="post">
    <div class="d-inline-flex flex-column">
      {% csrf_token %}
      <input class="submitButton" type="submit" name="Download" value="Print Data">
    </div>
  </form>
</div>



    {% if product %}
    <div class="queryTable justify-content-center row no-gutters">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Product</th>
            <th>Colour</th>
            <th>Embossed</th>
            <th>Double Sided</th>
            <th>Number of skids</th>
          </tr>
        </thead>
        <tr>
          <td>{{ product.productname }}</td>
          <td>{{ product.colour }}</td>
          {% if product.embossed == 1 %}
            <td>Yes</td>
          {% else %}
            <td>No</td>
          {% endif %}
          {% if product.doublesided == 1 %}
            <td>Yes</td>
          {% else %}
            <td>No</td>
          {% endif %}
          <td>{{ product.numberofskids }}</td>
        </tr>
      </table>
    </div>
    {% endif %}



{% endblock content %}
