{% extends 'CWBDataApp/base.html'%}

{% block title %} {{'Product Inventory'}} {% endblock title %}

{% block css %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'CWBDataApp/body.css'%}">
{% endblock %}

{% block content %}
<div>
  <h2 id="header"> Product Inventory Query Form </h2>
  <p id="descriptionParagraph">
      Product inventory query is to be used to pull data regarding the finshed product skids in the shop. You can either
      pull a single products data or pull data of all the product currently in the shop
  </p>
  <p id="descriptionParagraph">If you want to enter product inventory data click <a href="{% url 'CWBDataApp:ProductInventory'%}">ENTER</a> or update inventory click <a href="{% url 'CWBDataApp:ProductInventoryUpdate'%}">UPDATE</a></p>

  {% if error_message %} <p id="error"> {{error_message}} </p> {% endif %}
  {% if dataAcceptedMessage %} <p id="accepted"> {{dataAcceptedMessage}} </p> {% endif %}

</div>

<div class="justify-content-center row no-gutters">
  <form action="{% url 'CWBDataApp:ProductInventoryQuery'%}" method="post">
    <div class="d-inline-flex flex-column">
      <h4 id=header>Search for Product </h4>
      {% csrf_token %}
      <div class="inline-flex inputBox">
        <label for="prodName">Product Name*: </label>
        <select id="prodName" type="text" name="prodName">
          {% if allProfiles %}
            {% for profile in allProfiles %}
                <option value="{{ profile.productname }}">{{ profile.productname }}</option>
            {% endfor %}
          {% endif %}
        </select>
      </div>

      <div class="inline-flex inputBox">
        <label for="colour">Colour*: </label>
        <select id="colour" type="text" name="colour">
          {% if allColours %}
            {% for entry in allColours %}
                <option value="{{ entry.colour }}">{{ entry.colour }}</option>
            {% endfor %}
          {% endif %}
        </select>
      </div>

      <input type="submit" name="enterNewProduct" value="Find">
    </div>
  </form>
</div>


    {% if product %}
    <div class="queryTable justify-content-center row no-gutters">
      <table>
        <tr>
          <th>Product</th>
          <th>Colour</th>
          <th>Embossed</th>
          <th>Double Sided</th>
          <th>Number of Skids</th>
        </tr>
        <tr>
          <td>{{ profile.productname }}</td>
          <td>{{ product.colour }}</td>
          {% if product.embossed == 1 %}
            <td>Yes</td>
          {% else %}
            <td>No</td>
          {% endif %}
          {% if product.doublesided == 1 %}
            <td>Yes</td>
          {% else %}
            <td>No</td>
          {% endif %}
          <td>{{ product.numberofskids }}</td>
        </tr>
      </table>
    </div>
    {% endif %}



{% endblock content %}
