{% extends 'CWBDataApp/base.html'%}

{% block title %} {{'Update Supplier'}} {% endblock title %}

{% block css %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'CWBDataApp/body.css'%}">
{% endblock %}

{% block content %}
  <div>
    <h2 id="header"> Update Supplier </h2>
    <p id="descriptionParagraph">
        Update a Supplier's price/pound value
    </p>

  {% if error_message %} <p id="error"> {{error_message}} </p> {% endif %}
  {% if dataAcceptedMessage %} <p id="accepted"> {{dataAcceptedMessage}} </p> {% endif %}

  </div>

  <div class="justify-content-center row no-gutters">
    <form action="{% url 'CWBDataApp:UpdateSupplier'%}" method="post">
      <div class="d-inline-flex flex-column">
        <h4 id=header>Update an Average</h4>
        {% csrf_token %}

        <div class="inline-flex inputBox">
          <label for="supplier">Profile*: </label>
          <select id="supplier" type="text" name="supplier">
            {% if allSuppliers %}
              {% for entry in allSuppliers %}
                  <option value="{{ entry.supplier }}">{{ entry.supplier }} ({{entry.costperpound}})</option>
              {% endfor %}
            {% endif %}
          </select>
        </div>

        <div class="inline-flex inputBox">
          <label for="price">Price per Pound: </label>
          <input id="price" type="number" name="price" value="0" step="any" min="0">
        </div>

        <br>

          <input type="submit" name="enter" value="Update">
      </div>
    </form>
  </div>


{% endblock content %}
